<div class="container__small-card">
	<div class="container__small-card-content">
		<div class="small-card__photo">
			<img
				src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt695fc2c615722d64/620496c3fa8b30252c9f839a/021422_Clash2020Schedule_Banner.jpg"
				alt=""
				height="200px"
			/>
		</div>
		<div class="small-card__title">
			<h1><a href="#">Saiu a nova versão do Angular</a></h1>
		</div>
	</div>
	<div class="container__small-card__separator">
		<hr />
	</div>
</div>
