<header>
	<app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
	<div class="articles__main">
		<app-big-card
			photoCover="https://images.immediate.co.uk/production/volatile/sites/3/2018/05/IRON-2008-d7a2706.jpg?quality=90&resize=800,534"
			cardTitle="Remake do primeiro filme do Homem de Ferro"
			cardDescription="Marvel anuncia remake de seu primeiro filme do universo cinematrografico"
		></app-big-card>
	</div>
	<div class="articles__others">
		<app-small-card
			photoCover="https://images.immediate.co.uk/production/volatile/sites/3/2018/04/https-2F2Fblogs-images.forbes.com2Fscottmendelson2Ffiles2F20182F042Fimage001-cebe539.jpg?quality=90&crop=75px,0px,811px,540px&resize=960,640"
			cardTitle="Qual a ordem cronológica correta para assistir os filmes do MCU"
		>
		</app-small-card>
		<app-small-card
			photoCover="https://images.thedirect.com/media/article_full/marvel-movie-releases-2024-slate.jpg"
			cardTitle="Novos lançamentos da Marvel podem trazer de volta sua popularidade"
		>
		</app-small-card>
		<app-small-card
			photoCover="https://i.insider.com/6556735d4ca513d8242ae33f?width=1200&format=jpeg"
			cardTitle="Lista de todos os filmes da Marvel ranqueados pelo gasto para sua produção"
		>
		</app-small-card>
	</div>
</div>
